body {
  background-color: #efefef;
  height: 100vh;
}

.App {
  text-align: center;
  margin: 0 auto;
  padding: 48px 0;
  width: 80%;
}

.card {
  margin: 8px;
}

.Notes-wrapper{
  display: flex;
  justify-content: center;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}